/* Header */
.header {
   background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}
.nombre {
    margin: 0% 8% 0% 5%;
}

/* Fin Header */
/* background*/
#index{
    background-image: url(../images/fondo1.jpeg);
    background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 
}
/* Fin background*/

/*Carousel*/
.carousel {
    margin: 150px auto 150px;
    width: 60%;
    height: 60%;
}
/*Fin de carousel*/

/* Horarios*/
.horarios {
    text-align: center;
}
/* Fin Horarios*/

/* Mapa*/
.mapa {
    text-align: center;
}
/* Fin Mapa*/
.visitar {
    text-align: center;
    text-decoration: underline;
}

footer {
    text-align: center;
}