#multimedia {
    background-color: black;
}

.videos {
    margin: 7%;
    display: flex;
    align-content: stretch;
}

.font-color{
    color: white;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
