.redes {
    color: #ffffff;;
    background-color: rgb(39, 37, 37);
    padding: 15px 0;
    /* Declarar flexibilidad en una caja */
    display: flex;
 align-items: center;
 margin-top: 5%;
}
.position {
    
    width: 5%;
    /* Activar flexbox */
    display: flex;
    justify-content: space-between;
    margin: 20px auto 20px;
}

.tamaño {
    width: 50%;
    height: 50%;
}